<% if !current_user.tweets.empty?%>
<% current_user.tweets.each do |tweet| %>
  <h2><%= tweet.content %></h2><br>

  <a href="/tweets/<%= tweet.id %>/edit">Edit this tweet</a>

  <form method="POST" action="/tweets/<%= tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete"></h2>
<br>
  <% end %>
<% else %>
<h2><%="You have No Tweets"%></h2>
<% end %>
<br>
<a href="/tweets/new">New Tweet</a><br>
<a href="/logout">Log Out</a>
